.cartList{
    margin-top: 25rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    @media (min-width: 700px){
		margin-top: 13rem;
	}
    .itemCart{
        border-radius: 15px;
        padding: 0.5rem;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        img{
            width: 580px;
        }
        .itemCart-body{
            margin: 1rem;
            color: white;
            text-decoration: none;
            .itemCart-title{
                font-size: 3rem;
                font-weight: bold;
            }
            p{
                font-size: 2rem;
            }
            .btn{
                font-size: 2rem;
                margin-left: 3rem;
            }
        }

    }
    p{
        margin: 2rem;
        font-size: 3rem;
        color: white;
    }
    .btn{
        margin-bottom: 2rem;
        font-size: 3rem;
    }
}
.emptyCart{
    margin-top: 30rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 3rem;
        font-size: 3rem;
        color: white;
    }
    .btn{
        font-size: 3rem;
    }
}