.botonera {
  background-color: #07236a5d;
}
.botonera .botonera-desc {
  max-width: 1140px;
  margin: auto;
  /* Logo Home */
  /* Lista accesos */
}
.botonera__logo {
  width: 18rem;
  border-radius: 20px;
}
.cartWidget{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.botonCarrito {
  display: flex;
}

.botonCarrito p {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 3rem;
  line-height: auto;
  text-align: center;
  color: black;
}


.App {
  text-align: center;
}

.App-logo {
  margin-top: 35vh;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
